        img		{ 
			max-width: 100%;
			float: none; /* YOU CAN FLOAT AN ELEMENT WITHIN A GRID AREA */
            margin: 0 auto 0 auto;
		}
		
		
		header {
            grid-area: header;
            background-color: rgba(124, 21, 34, 0.979);
            font-family: Verdana, Geneva, Tahoma, sans-serif; 
        }

        h1 {
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif; 
        }

        h2 {
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif; 
        }
        
        p {
           font-family: Verdana, Geneva, Tahoma, sans-serif; 
        }

        nav {
            grid-area: nav;
            background-color: rgb(31, 31, 36);
            /*text-decoration-color: aliceblue;
            text-decoration: aliceblue;*/
            -webkit-text-fill-color: aliceblue;
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif; 
        }

        li {
            text-align: left;
            font-family: Verdana, Geneva, Tahoma, sans-serif; 
        }

        main {
            grid-area: main;
            background-color: orange;
            font-family: Verdana, Geneva, Tahoma, sans-serif; 
        }

        aside {
            grid-area: aside;
            background-color: bisque;
            font-family: Verdana, Geneva, Tahoma, sans-serif; 
        }

        footer {
            grid-area: footer;
            background-color: green;
            font-family: Verdana, Geneva, Tahoma, sans-serif; 
            font-size: small;
            text-align: center;
            display: flex;
            justify-content: space-around;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .grid-container {
            display: grid;
            grid-template-areas:
                'header header header header header aside'
                'nav nav main main main aside'
                'nav nav main main main aside'
                'nav nav main main main aside'
				'footer footer footer footer footer footer';
            grid-gap: .5em;
            padding: .5em;
			
			max-width: 62em; /* GIVE CONTAINER A WIDTH AND MARGINS IF YOU DO NOT WANT FULL SCREEN */
			margin: auto;
        }


        ul li {
            list-style-type: none;
        }

        a:link {
            color: green;
            background-color: transparent;
            text-decoration: none;
          }
          a:visited {
            color: pink;
            background-color: transparent;
            text-decoration: none;
          }
          a:hover {
            color: red;
            background-color: transparent;
            text-decoration: underline;
          }
          a:active {
            color: yellow;
            background-color: transparent;
            text-decoration: underline;
          }


        /*FIRST BREAK POINT === tablet */
        @media only screen and (max-width : 900px) {
            body {
                background: rgb(220, 220, 224);
            }

            .grid-container {
                display: grid;
                grid-template-areas:
                                        'header header header header header header'
					'nav nav nav nav nav nav'
                    'main main main main aside aside'
                    'footer footer footer footer footer footer';
                grid-gap: .5em;
                padding: .5em;
            }

            ul li {
                display: inline-block;
            }

            img		{ 
                max-width: 100%;
                float: none; /* YOU CAN FLOAT AN ELEMENT WITHIN A GRID AREA */
                margin: 0 auto 0 auto;
            }


        }

        /*SECOND BREAK POINT === mobile */
        @media only screen and (max-width : 600px) {

            body {
                background: rgb(228, 225, 228);
            }

            .grid-container {
                display: grid;
                grid-template-areas:
                    'nav nav nav nav nav nav'
                    'header header header header header header'
                    'main main main main main main'
                    'aside aside aside aside aside aside'
                    'footer footer footer footer footer footer';
                grid-gap: .5em;
                padding: .5em;
            }

            ul li {
                display: inline-block;
            }
			
			img		{ 
                max-width: 95%;
                float: none; /* YOU CAN FLOAT AN ELEMENT WITHIN A GRID AREA */
                margin: 0 auto 0 auto;
            }

        }